<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  
  <Package Name="InfiniteGpu"
           Version="1.0.11.0"
           Manufacturer="Scalerize"
           UpgradeCode="12345678-1234-1234-1234-123456789012"
           Language="1033"
           Compressed="yes"
           InstallerVersion="500"
           Scope="perMachine">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />

    <!-- Icon for Add/Remove Programs -->
    <Icon Id="ProductIcon" SourceFile="$(var.Scalerize.InfiniteGpu.Desktop.TargetDir)Assets\logo-blue.ico" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    
    <!-- Installation directory structure -->
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="ManufacturerFolder" Name="Scalerize">
        <Directory Id="INSTALLFOLDER" Name="InfiniteGpu">
          
          <!-- Assets folder -->
          <Directory Id="AssetsFolder" Name="Assets" />
          
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />
    <StandardDirectory Id="ProgramMenuFolder" />

    <!-- Components -->
    <ComponentGroup Id="MainExecutable" Directory="INSTALLFOLDER">
      <Component Id="MainExeComponent" Guid="12345678-1234-1234-1234-123456789013">
        <File Id="MainExe" 
              Source="$(var.Scalerize.InfiniteGpu.Desktop.TargetDir)Scalerize.InfiniteGpu.Desktop.exe"
              KeyPath="yes" />
        
        <!-- Desktop shortcut -->
        <Shortcut Id="DesktopShortcut"
                  Directory="DesktopFolder"
                  Name="InfiniteGpu"
                  Description="InfiniteGpu Desktop Application"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="ProductIcon" />
        
        <!-- Start Menu shortcut -->
        <Shortcut Id="StartMenuShortcut"
                  Directory="ProgramMenuFolder"
                  Name="InfiniteGpu"
                  Description="InfiniteGpu Desktop Application"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="ProductIcon" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="AssetsComponent" Directory="AssetsFolder">
      <Component Id="AssetsFiles" Guid="12345678-1234-1234-1234-123456789014">
        <File Id="ErrorPageHtml" Source="$(var.Scalerize.InfiniteGpu.Desktop.TargetDir)Assets\ErrorPage.html" />
        <File Id="LogoBlueIco" Source="$(var.Scalerize.InfiniteGpu.Desktop.TargetDir)Assets\logo-blue.ico" />
      </Component>
    </ComponentGroup>

    <!-- Placeholder for dynamically harvested files -->
    <ComponentGroup Id="PublishedFiles" Directory="INSTALLFOLDER">
      <!-- Files will be added here by the build process -->
    </ComponentGroup>

    <!-- Feature to install -->
    <Feature Id="ProductFeature" 
             Title="InfiniteGpu Desktop" 
             Level="1"
             ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="MainExecutable" />
      <ComponentGroupRef Id="AssetsComponent" />
      <ComponentGroupRef Id="PublishedFiles" />
    </Feature>

    <!-- UI Configuration -->
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    
    <!-- License Agreement (relative to .wxs file location) -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)License.rtf" />
    
  </Package>
  
</Wix>